In [3]:
import pandas as pd
from google.colab import data_table

dataset = pd.read_csv("blackjack_simulator.csv")

dataset

# Numero di vittorie
print(len(dataset[(dataset['win'] > 0)]))
# Numero di sconfitte
print(len(dataset[(dataset['win'] < 0)]))
# Numero di pareggi
print(len(dataset[(dataset['win'] == 0)]))
# Numero di casi favorevoli
print(len(dataset[(dataset['win'] >= 0)]))

# Totale
print(len(dataset))

# Verifica valori nulli
nan_mask = dataset.isna()
nan_count = nan_mask.sum()
print(nan_count)

421940
493992
84068
506008
1000000
shoe_id               0
cards_remaining       0
dealer_up             0
initial_hand          0
dealer_final          0
dealer_final_value    0
player_final          0
player_final_value    0
actions_taken         0
run_count             0
true_count            0
win                   0
dtype: int64